<% provide(:title, "About") %>
<h1>About</h1>
<p>
  BridenGroom’s mission is to become a one-stop hub for wedding planning from the comfort of your house. <br />
BridenGroom is an online platform that pulls together various wedding companies with different specializations to create a virtual wedding planner that potential couples can engage to plan efficiently and save significant amount of time. It will provide a competitive advantage for smaller wedding organizations to gain more exposure and access to potential customers that are looking for cheaper prices. Unlike existing wedding planners that focus on package-based offers and promotions within a fixed selection, BridenGroom gives the flexibility for both price and selection for the different categories of a wedding plan.
</p>